@font-face {
    font-family: 'Jura';
    src: url('/assets/fonts/Jura-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
}

body {
    line-height: 1.6;
    padding: 20px;
    /* background-color: #f4f4f4; */
    background: rgb(3, 0, 42);
}
h1, h2 {
    /* color: #333; */
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
section {
    background: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
ul {
    padding-left: 25px;
}
a {
    color: #0066cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

nav {
    text-align: center;
    margin-bottom: 25px;
}